.app__main__home__section {
  padding: 1rem;
}

.app__main__home__section .service {
  border-bottom: 0.5rem solid #333;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.app__main__home .attraction {
  text-align: center;
  background-color: #333;
  padding: 2rem;
}

.app__main__home .attraction h1 {
  margin-bottom: 3rem;
}

.app__main__home .attraction h1,
.app__main__home .attraction p {
  color: #fff;
}
