/* ! Generals */
html,
body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

/* ! App */
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ! Main */
.app__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #eee;
}
